.is-hover-shadow {
  @include shadow(mix($color-white, $color-primary, 95%));
}
.el-table--enable-row-hover .el-table__body tr:hover > td {
  background-color: $hover-color-light !important;
}
.el-card {
  color: $color-text !important;
}
.el-drawer {
  -webkit-box-shadow: 0 8px 26px 0 $shadow-color !important;
  box-shadow: 0 8px 26px 0 $shadow-color !important;
}

.el-select-dropdown__item.hover,
.el-select-dropdown__item:hover {
  @include border-radius-set();
}

/*
* 2.0 element ui
*/
/* MessageBox
-------------------------- */
.el-message-box {
  border-color: $color-danger !important;
  background-color: $color-danger !important;
  @include border-radius-set($border-radius-base);
  @include shadow($color-danger);
}

.el-message-box__title {
  color: $color-white !important;
}

.el-message-box__headerbtn .el-message-box__close,
.el-message-box__headerbtn:focus .el-message-box__close,
.el-message-box__headerbtn:hover .el-message-box__close,
.el-message-box__content {
  color: $color-white !important;
}

.el-message-box__input {
  padding-top: 15px !important;
}

.el-message-box__input input.invalid {
  border-color: $color-danger !important;
}

.el-message-box__input input.invalid:focus {
  border-color: $color-danger !important;
}

.el-message-box__status {
  background-color: $color-white !important;
  width: 40px !important;
  height: 40px !important;
  line-height: 40px !important;
  text-align: center;
  @include border-radius-set($border-radius-base);
}

.el-message-box__status.el-icon-success {
  color: $color-success !important;
}

.el-message-box__status.el-icon-info {
  color: $color-info !important;
}

.el-message-box__status.el-icon-warning {
  color: $color-warning !important;
}

.el-message-box__status.el-icon-error {
  color: $color-danger !important;
}

.el-message-box__errormsg {
  color: $color-danger !important;
  font-size: 12px;
  min-height: 18px;
  margin-top: 2px;
}

.el-message-box__status + .el-message-box__message {
  padding-left: 50px;
}

.el-message-box .el-button--primary,
.el-message-box .el-button--primary {
  background-color: rgba($color-white, 0.2);
}

.el-message-box .el-button--primary:hover,
.el-message-box .el-button--primary:focus {
  background-color: rgba($color-black, 0.2);
}

/* MessageBox
-------------------------- */

.el-message--info {
  background-color: $color-info !important;
  border-color: $color-info !important;
  @include shadow($color-info);
}

.el-message--success {
  background-color: $color-success !important;
  border-color: $color-success !important;
  @include shadow($color-success);
}

.el-message--warning {
  background-color: $color-warning !important;
  border-color: $color-warning !important;
  @include shadow($color-warning);
}

.el-message--error {
  border-color: $color-danger !important;
  background-color: $color-danger !important;
  @include shadow($color-danger);
}

.el-message__icon {
  font-size: 24px !important;
}

.el-message--info .el-message__content,
.el-message--success .el-message__content,
.el-message--warning .el-message__content,
.el-message--error .el-message__content,
.el-message .el-icon-success,
.el-message .el-icon-error,
.el-message .el-icon-info,
.el-message .el-icon-warning,
.el-message__closeBtn {
  color: $color-white !important;
}

.el-message__closeBtn:hover {
  color: $color-white !important;
}

/* Notification
-------------------------- */
.el-notification {
  @include border-radius-set($border-radius-base);
  @include shadow($color-danger);
}

.el-notification .el-icon-success {
  color: $color-success !important;
  @include shadow($color-success);
}
.el-notification .el-icon-error {
  color: $color-danger !important;

  @include shadow($color-danger);
}
.el-notification .el-icon-info {
  color: $color-info !important;

  @include shadow($color-info);
}
.el-notification .el-icon-warning {
  color: $color-warning !important;
  @include shadow($color-warning);
}

.el-notification__title {
  font-weight: bold;
  font-size: 16px;
  margin: 0;
}

.el-notification__icon {
  height: 48px !important;
  width: 48px !important;
  font-size: 48px !important;
}
.el-pagination {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-pack: center !important;
  -ms-flex-pack: center !important;
  justify-content: center !important;
  -webkit-box-align: center !important;
  -ms-flex-align: center !important;
  align-items: center !important;
}
.el-pagination.is-background .btn-prev,
.el-pagination.is-background .btn-next,
.el-pagination.is-background .el-pager li {
  padding: 0 10px;
  background-color: $color-white !important;
  border: 1px solid $gray-3;
  font-weight: normal !important;
  @include transition-set();
  @include border-radius-set($border-radius-base);
  &.active,
  &:hover {
    border: 0;
    background-color: $color-primary !important;
    color: $color-white !important;
  }
}
